body,h1,h2,h3,p,ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    background-color: #f9f9f9;
    line-height: 1;
}
.container {
    width: 1720px;
    margin: auto;
}
.header {
    padding: 41px 0;
    border-bottom: 2px solid #779611;
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    gap: 120px;
}
.header-list {
    display: flex;
    gap: 80px;
}
.header-link {
    color: #707070;
    font-size: 500;
    font-family: "Montserrat", sans-serif;
}
/* 2 секція */
.hero-link {
  padding: 18px 70px;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #779611;
  border-radius: 40px;
  background-color: #779611;
  color: #f9f9f9;
}
/* секція 2 */
.flaves {
  padding-top: 80px;
}
.flaves-title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #779611;
  font-weight: 600;
  padding-bottom: 35px;
}
.flaves-text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
}
.flaves-list {
  display: flex;
  justify-content: space-between;
}
.flaves-name {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
  padding-top: 35px;
  color: #779611;
  font-weight: 400;
  padding-left: 60px;
}
.flaves-prise {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
/* секція 3 на дз */
/* секція 4 */
.about {
  padding-top: 114px;
  padding-bottom: 114px;
}
.about-container {
  display: flex;
  gap: 455px;
  align-items: center;
}
.about-subtitle {
  padding-bottom: 15px;
  font-size: 24px;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  color: #779611;
}
.about-title {
  padding-bottom: 35px;
  font-size: 48px;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  color: #779611;
}
.about-text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
/* футер */
.footer {
  padding: 60px 0;
  border-top: 2px #779611;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-list, .footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-link, .footer-text, .footer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.footer-title {
  padding-bottom: 20px;
}
.footer-text {
  line-height: 1.8;
}